.git
.github
.claude
.specify

node_modules
**/node_modules

.env
**/.env
*.backup
*.private
*.local

.next
**/.next
dist
**/dist
coverage
**/coverage
test-results
**/test-results

infra/.terraform
infra/terraform.tfstate
infra/terraform.tfstate.backup

Dockerfile*
README.md
docs